html,body{
  min-height: 100%; height: auto;
}
body > .container{
  height : 100%;
  background-color: #f2f2f2;
}
header{
  padding : 1rem 0 1rem 0;
  font-size: 3.5rem;
}
nav{
  padding : 1rem 0 1rem 0;
}
nav >.row> div{
  padding :  0 1rem 0 1rem ;
}

img[alt=big-pic] { width: 75%; }
