<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
			<link rel="stylesheet" type="text/css" href="/css/normalize.css">
  			<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body class="container">
			<header>
				{{page.title}}
			</header>
			<nav>
				<div class="row">
					<div class="one column"><a class="button" href="/" >Home</a></div>
				    	<div class="one column"><a class="button" href="/blog">Blog</a></div>
				    	<!--<div class="one columns">CV</div> -->
				</div>
			</nav>
			
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    			<ul>
		        		<li><a href="mailto:weichou1229@gmail.com">email</a></li>
		        		<li><a href="https://github.com/weichou1229">github.com/weichou1229</a></li>
				</ul>
			</footer>
		</body>
	</html>
