<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			{% include googleAnalytics.html %}
			<!-- link to main stylesheet -->
			<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
			<link rel="stylesheet" type="text/css" href="/css/normalize.css">
  		<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  		<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
				<div class="container">
						<header>
							weichou1229
						</header>

						<nav>
							<div class="row">
								<div class="one column"><a href="/" >Home</a></div>
							    	<div class="one column"><a href="/blog">Blog</a></div>
							    	<!--<div class="one columns">CV</div> -->
							</div>
						</nav>

						<section class="container">

							{{ content }}

						</section>

						<footer>
				    				<ul>
						        		<li><a href="mailto:weichou1229@gmail.com">email</a></li>
						        		<li><a href="https://github.com/weichou1229">github.com/weichou1229</a></li>
										</ul>
						</footer>
				</div>


		</body>
	</html>
